
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@font-face {
  font-family: FZLT;
  src: url("/fonts/FZLTHJW.TTF");
}

//custom
//设置字体
body,a,p,h1,h2,h3{
  font-family: FZLT;
  color: #434343;
}

body {
  font-size: 16px;
}

.container-fluid {
  padding: 0!important;
}

a {
  color: #000;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
}

.navbar {
  margin-bottom: 0;
  .active {
    color: #8bc12a !important;
    border-bottom: #8bc12a solid 3px;
  }
}

.navbar-nav {
  li {
    a {
      padding-left: 0;
      padding-right: 0;
      margin-left: 40px;
    }
  }
}

.navbar-bg {
  margin-top: -1px;
  background-image: url("/images/navbar-bg.jpg");
  background-size: cover;
}

.ejdh {
  margin-left: 50%;
  transform: translateX(-50%);
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 0rem;
}

.wzys p{
  line-height: 2.5em;
  text-align: justify;
  text-indent: 2em;
}

.img-100 {
  width: 100%;
}


.ewm {
  margin-top: 15%;
  margin-bottom: 3%;
  width: 50%;
}

.lxdh{
  width: 70%;
}

.btm {
  opacity: 0.8;
  margin-top: 70px;
}

.btm:hover, .btm:active {
  opacity: 1;
}

.margin_logo{
  margin-left: 50%;
  margin-top: 1%;
  margin-bottom: 1%;
}

#yjdh{
  ul{
    list-style: none;

    li{
      float: left;
      margin-right: 2%;
      padding: 10px 0;

      .active{
        color: #8ec322;
        border-bottom: solid 2px #8ec322;
      }

    }
  }
  a{
    color: #313131;
    padding: 11px 0;
    &:hover{
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 768px){

  body{
    font-size: 12px;
  }

  h3{
    font-size: 16px;
  }

  .ewm {
    width: 30%;
  }

  .lxdh {
    width: 30%;
  }

  .tpbj{
    margin-left: 10%;
    margin-right: 10%;
  }

  .btm {
    margin-top: 10%;
  }

  .xqbt {
    margin-left: 2%;
  }

  .margin_logo{
    transform: translateX(-50%);
    margin-left: 50%;
  }

  #yjdh{
    ul{
      list-style: none;

      li{
        float: left;
        margin-right: 2%;
      }
    }
  }

}
@media screen and (max-width: 1200px){

  body{
    font-size: 12px;
  }

  h3{
    font-size: 16px;
  }

  .ewm {
    width: 30%;
  }

  .lxdh {
    width: 30%;
  }

  .tpbj{
    margin-left: 10%;
    margin-right: 10%;
  }

  .btm {
    margin-top: 10%;
  }

  .xqbt {
    padding-left: 2%;
  }

  .margin_logo{
    transform: translateX(-50%);
    margin-left: 50%;
  }

  #yjdh{
    ul{
      list-style: none;

      li{
        float: left;
        margin-right: 2%;
      }
    }
  }

}
