
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@font-face {
  font-family: FZLT;
  src: url("/fonts/FZLTHJW.TTF");
}

//custom
//设置字体
body,a,p,h1,h2,h3{
  font-family: FZLT;
  color: #434343;
}

.container-fluid {
  padding: 0!important;
}

a {
  color: #000;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
}

.navbar {
  margin-bottom: 0;
  .active {
    color: #8bc12a !important;
    border-bottom: #8bc12a solid 3px;
  }
}

.navbar-nav {
  li {
    a {
      padding-left: 0;
      padding-right: 0;
      margin-left: 40px;
    }
  }
}

.navbar-bg {
  margin-top: -1px;
  background-image: url("/images/navbar-bg.jpg");
  background-size: cover;
}

